# Compiled JavaScript and Source Maps
*.js
*.js.map
*.d.ts

# Node modules
node_modules/

# Build artifacts
dist/
build/
out/
es/
lib/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test coverage
coverage/

# Other temporary files
tmp/
temp/
